@mixin card($rarity) {
  width: 150px;
  height: 200px;
  border: 8px solid black;
  border-radius: 10px;
  //background: color($colors, $rarity);
  color: white;
  margin-left: auto;
  margin-right: auto;
  background:
          radial-gradient(black 15%, transparent 16%) 0 0,
          radial-gradient(black 15%, transparent 16%) 8px 8px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 0 1px,
          radial-gradient(rgba(255,255,255,.1) 15%, transparent 20%) 8px 9px;
  background-color:#282828;
  background-size:16px 16px;
}

.card-outer {
  width: 260px;
  height: 355px;
  border: 10px solid black;
  border-radius: 30px;
  color: white;
  margin-left: auto;
  margin-right: auto;
  margin-top: 6px;
  background: radial-gradient(black 15%, transparent 16%) 0 0,
  radial-gradient(black 15%, transparent 16%) 8px 8px,
  radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 0 1px,
  radial-gradient(rgba(255, 255, 255, .1) 15%, transparent 20%) 8px 9px;
  background-color: #282828;
  background-size: 16px 16px;
}

.card-title {
  position: relative;
  top: 2px;
  left: 10px;
  height: 25px;
  width: 220px;
  border: 2px solid black;
  border-radius: 7px;
  font-weight: 600;
  background: #43A047;
  padding: 5px;
  font-size: 11px;
}

.card-image {
  position: relative;
  top: 4px;
  left: 10px;
  height: 140px;
  width: 220px;
  border: 2px solid black;
  border-radius: 10px;
  background-image: url("../assets/img/alley.jpg");
}

.card-category {
  position: relative;
  border: 2px solid black;
  padding: 5px;
  font-size: 11px;
  width: 220px;
  left: 10px;
  top: 6px;
  height: 25px;
  border-radius: 7px;
  font-weight: 600;
  background: #43A047;

}

.card-text {
  position: relative;
  border: 2px solid black;
  width: 220px;
  top: 8px;
  left: 10px;
  height: 120px;
  border-radius: 10px;
  font-weight: 600;
  background: #43A047;
  padding: 5px;
  font-size: 11px;
  display: table-cell;
  vertical-align: middle;
  text-align: center;
}

.card-number {
  position: relative;
  left: 14px;
  top: 12px;
  font-size: 8px;
}

.choice {
  color: white;
  height: 30px;
}

.choice-selected {
  color: #EBC944;
  height: 30px;
}

.common-card {
  @include card(common);
}

.uncommon-card {
  @include card(uncommon);
}

.rare-card {
  @include card(rare);
}

.epic-card {
  @include card(epic);
}

.legendary-card {
  @include card(legendary);
}