.card {
  width: 150px;
  height: 200px;
  background: #4CAF50;
  padding: 3px;
}

.card-title {
  position: relative;
  top: 95px;
  text-align: center;
}

.card-type {
  position: relative;
  top: 150px;
  text-align: center;
  font-size: 10px;
  font-weight: 600;
}