<ion-content padding style="background: #093145;">
    <div *ngIf="pf">
        <div [ngClass]="getRarityClass()" class="centered mb-20">
            <div class="card-image"></div>
            <div class="card-text">{{pf.text}}</div>
            <div class="card-number">{{pf.numberInSet}}</div>
        </div>
        <div *ngFor="let choice of pf.choices; let i = index" (click)="changeChoice(i)" class="borderless" [ngClass]="isChoiceSelected(i)">
            {{i + 1}}) {{choice.text}}
        </div>
    </div>
</ion-content>
