@mixin card($rarity) {
  width: 150px;
  height: 200px;
  border: 1px solid black;
  background: color($colors, $rarity);
  color: white;
  margin-left: auto;
  margin-right: auto;
}

.choice {
  color: white;
  height: 30px;
}

.choice-selected {
  color: #EBC944;
  height: 30px;
}

.common-card {
  @include card(common);
}

.uncommon-card {
  @include card(uncommon);
}

.rare-card {
  @include card(rare);
}

.epic-card {
  @include card(epic);
}

.legendary-card {
  @include card(legendary);
}

.card-image {
  height: 110px;
  border-bottom: 1px solid black;
}

.card-text {
  position: relative;
  padding: 3px;
  font-size: 8px;
  font-weight: 600;
}

.card-number {
  position: absolute;
  top: 207px;
  margin-left: 126px;
  font-size: 4px;
}