@mixin set_margin($side, $value) {
  margin-#{$side}: $value + px;
}

.centered {
  margin-left: auto;
  margin-right: auto;
}

.item-ios.item-block .item-inner {
  border: none;
}

.item-md.item-block .item-inner {
  border: none;
}

.mt-10 {
  @include set_margin('top', 10);
}

.mt-20 {
  @include set_margin('top', 20);
}

.mt-30 {
  @include set_margin('top', 30);
}

.mb-2 {
  @include set_margin('bottom', 2);
}

.mb-10 {
  @include set_margin('bottom', 10);
}

.mb-20 {
  @include set_margin('bottom', 20);
}

.mb-30 {
  @include set_margin('bottom', 30);
}